.container {
  max-width: 1300px;
  width: 100%;
  padding: 1em;
  margin: 0.5em auto;
  
}

.carousel_div {
  height: 300px;
  overflow: hidden;
}
.carousel_div img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.productdetails{
    padding: 1em;
}
.title{
  font-size: 1.2rem;
  padding: .4em 0;
}
.priceBox{
  padding: .4em 0 0 0;
}
.priceBox h6{
  font-size: 1.3rem;
}
table.responsivetable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  
}
.btn{
    width: 100%;
    margin: 1em 0 0em 0;
    border: .5px solid black;
    padding: 7px 0;
    border-radius: 5px;
    text-transform: uppercase;

}
.primary_btn{
    background-color: #FFD84D;
}
.table_container{
    padding:0 1em 1em 1em ;
}
table.responsivetable th,
table.responsivetable td {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.relatedProductCarouselContainer{
  width: 100%;
  max-width: 1300px;
  padding: 1em;
  margin: 0 auto;
}
.relatedProductCarouselContainer>h4{
  padding: 0 0 0 1em;
}
/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  table.responsivetable th,
  table.responsivetable td {
    padding: 4px;
    font-size: 14px;
  }
}
@media (min-width:800px){
  .productDetail_wrapper{
    display: flex;
    justify-content: space-around;
  
  }
  .productInfo_container{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel_container{
    display: flex;
    align-items:flex-start;
    width: 40%;
    margin: 2em;
  }
  .carousel_div {
  height: unset;
  }
  .carousel_div img{
    
    height: 28em;
    width: 28em;
    object-fit:contain;
  }
}