/* .carousel .thumbs-wrapper {
  display: none;
} */
:root {
  --clr-primary: #645cff;
  --clr-primary-dark: #282566;
  --clr-primary-light: #a29dff;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
.aixs-vertical{
  background-color: yellowgreen;
  margin: 0;
}
.carousel .thumbs-wrapper{
  margin: 0 !important;
}
ul.thumbs {
  margin-bottom: 0 !important;
}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
}

a:hover{
text-decoration: none;
}