/* .carousel .thumbs-wrapper {
  display: none;
} */

.aixs-vertical{
  background-color: yellowgreen;
  margin: 0;
}
.carousel .thumbs-wrapper{
  margin: 0 !important;
}
ul.thumbs {
  margin-bottom: 0 !important;
}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
}
a{
  text-decoration: none;
}